/*===================== GOOGLE FONTS ==========================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


/*===================== VARIABLE CSS =============================*/


:root{
    /*====Colors====*/
    --link-color: #0273a8;
    --title-color: #41808d;
    --text-color: #16312e;
    --body-color: #e0eeec;
    --pure-white:rgb(255, 255, 255);
    --scroll-color:rgba(122, 116, 116, 0.307);
    --scrol-thumb:rgb(4, 4, 4);
    --blur-color: rgba(255, 255, 255, 0.315);
    --link-hover: #532e41;
    --box-shadow: #5c2259;
    --container-color: #b2f7ef28;
    --container-color1: #b2f7ef28;
    --blur-color_streams: #767b7ad3;


/*===================== Font and size ================*/
--body-font: 'Poppins', sans-serif;
--tiny-font-size: .689rem;
}    

@media screen and (min-width: 968px) {
    display: hidden;
}

/* DARK THEME */
body.dark-theme{
    --link-color: #95bcff;
    --title-color: #006466;
    --text-color: #70faff88;
    --body-color: #121725;
    --pure-white: #000;
    --scroll-color: rgb(4, 4, 4);
    --scrol-thumb:rgba(122, 116, 116, 0.307);
    --blur-color: rgba(68, 60, 60, 0.137);
    --link-hover: #c021ab;
    --box-shadow: #452c66;
    --container-color: #01574d28;
    --container-color1: #b2f7ef28;


}


/* DARK AND LIGHT BUTTON */
.dark-light{
    display: flex;
    align-items: center;
    margin-left: 4rem;
}

.dark-light i{
    font-size: 1.5rem;
}


.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: 1rem;
    cursor: pointer;
}

.change-theme:hover{
    color: var(--link-color);

}

.dark-light{
    position: relative;
    top: -1rem;
    right: 5rem;
    width: 40px;
    display: flex;
    padding: .25rem;
    border-radius: 50%;
    box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 0%, 100%, 1), 
                inset 1px 1px 1px hsla(var(--hue-color), 30%, 86%, 1);
    color: var(--second-color);
    cursor: pointer;
  }
    

  .dark-theme .dark-light {
    box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 8%, 20%, 1), 
                inset 1px 1px 1px hsla(var(--hue-color), 8%, 12%, 1);
  }
  


/*====== BASE =======*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
/* MAIN NAV&SIDEBAR */
.main__nav-bar{
    display: flex;
    background-color: var(--blur-color);
    /* width: fit-content ; */

}    

header{
    background-color: var(--blur-color);
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 18%; */
}

/* NAV  */

.nav{
    position: fixed;
    top: 0;
    right: -9rem;
    /* background-color: var(--blur-color1); */
    /* margin-right: 50px; */
    padding:1.3rem 4.75rem;
    border-radius: .65rem;
    z-index: 0;
}

.nav__list{
    display: flex;
    justify-content: flex-start;
    column-gap: 5rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__link i{
    font-size: 2.50rem;
    color: var(--title-color);
    z-index: 20;
    transition: .3s;
}

.nav__name{
    /* font-size: var(--tiny-font-size); */
    color: var(--link-color);
}

.nav__name:hover{
    color: var(--link-hover)
    /*rgba(255, 94, 0, 0.703)*/;
}

/*============= SIDE BAR ================= */
.sidemenu {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 1;
    /*top: 0;*/
    left: 0;
    background-color: var(--blur-color_streams);
    overflow-x: hidden;
    transition: 0.45s;
    /*padding-top: 60px;*/
    margin-top: 7%;
    
}

.sidemenu a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 20px;
    color: var(--link-color);
    display: block;
    transition: 0.3s;
}

.sidemenu a:hover {
    color: var(--link-hover);
    /* color: #F4511F; */
}

.closebutton {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 35px;
    width: 38px;
    border: 0;
    /* border-radius: 25px; */
    font-family: Bahnschrift Condensed;
    background-color: var(--blur-color);
    color: var(--link-color);
    font-size: 28px;
    margin-left: 50px;
}
 
.closebutton:hover {
    color: var(--link-hover);
}
.openbutton {
    position: relative;
    font-size: 18px;
    height: 40px;
    cursor: pointer;
    background-color: var(--body-color);
    color: var(--title-color);
    padding: 1px 15px;
    margin-left: 15px;
    border: none;
    border-radius: 7px;
    z-index: 1;
    transform: translateX(0);
}
  
.openbutton:hover {
    background-color: var(--blur-color);
    box-shadow: 2px 2px 15px var(--box-shadow);
    
}
  
#main {
    transition: margin-left .5s;
    padding: 16px;
}
  
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}


/*========== SCROLL BAR ==============*/


::-webkit-scrollbar{
    width: 0.6rem;
    background: var(--scroll-color);
}

::-webkit-scrollbar-thumb{
    background: var(--scrol-thumb);
    border-radius: .5rem;
}

/*===============Logo==================*/
.logo {
    height: 95px;
    width: 280px;
}